*{
	margin: 0;
	padding: 0;
}
/*Navbar styling*/
.navbar {
	width:200px;
	height: 100%;
	position: fixed;
	left:0;
	top:0;
	z-index: 9999;
	border-right: 1px solid #666;
}

.navbar__element {
	position: absolute;
	margin-left: 10px;
	top:40%;
	list-style:none;
	text-align: center;

}

.navbar__element li {
	margin: 20px 0;
	font-size: 3em;
}

.navbar__element a {
	text-decoration: none;
}
/*End of Navbar styling*/

/*Main Styling*/
main {
	margin-left: 200px;
}	

.main {
	width: 800px;
	text-align: center;
	margin: 0 auto;
}

.main p {
	font-size: 3em;
	font-weight: 800;
}

.main ul {
	list-style-type: none;
	text-align: left;
}

.__greeting {
	padding-top: 100px;
}

.__greeting h1{
	font-size: 4em;
}

.__greeting h2 {
	font-size: 3em;
}

.__greeting p {
	font-size: 2.5em;
}

.__features {
	margin-top:200px;
}

.__features .__item {
	padding: 40px;
}