main {
    margin: 0 20px;
}

.toggle-button {
    position: relative;
    display: block;
    width: 45px;
    height: 45px;
    background-color: #efefef;
    z-index: 1;
}

.toggle-button span {
    display: block;
    height: 1px;
    width: 30px;
    background-color: #000;
    margin: 7px auto 0;
    margin: .4375rem auto 0;
}

div.menu {
    left: 0;
    top: 0;
    width: 100%;
    height: 45px;
    z-index: 0;
    position: fixed;
    display: none;
}

.menu ul {
    top: 25%;
}

.menu ul li {
    display: inline-block;
    width: 20% !important;
    text-align: left;
}

.hero-content h1 {
    font-size: 28px;
}

.hero-content p {
    font-size: 100%;
}

.hero-content a {
    margin-bottom: 20px;
}

.padded {
    margin-left: 0;
}

.feature-box {
    width: 100%;
    text-align: center;
}


.container img {
    max-width: 300px;
}
.social {
  display: inline;
}
